:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --accent-color: #2196F3;
    --bgc-button-color: #F5F4FA;
}

.list {
    list-style: none;
    text-decoration: none;
}


.logo {
    font-family: raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo .logo-two {
    color: var(--accent-color);
}

.page {
    font-family: roboto, sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

}

.site-nav a {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.auth-nav a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth-nav a:hover,
.auth-nav a:focus {
    color:var(--accent-color);
}

.list .accent-color {
    color: var(--primary-text-color);
}

.project .title {
    color: var(--title-text-color);
}

.hero .title {
    color: var(--title-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
} 

.work .title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.team .title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
}

.list .title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.team .title-card {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;  
}

.title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.par {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
}

.p-card {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

.list .par-card {
    font-size: 16px;
    line-height: 1.18;
}

.button-filter button {
    color: var(--title-text-color);
    background-color: var(--bgc-button-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.button-filter button:hover, 
button:focus 
{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer
}

.button-order {
    color:var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}


