/* :root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --primary-white-color:#FFFFFF;
    --accent-color:#2196F3;
    --bgc-button-color:#F5F4FA;
} */

.list {
    list-style: none;
    text-decoration: none;
}


.logo {
    font-family: raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.page {
    font-family: roboto, sans-serif;
    background-color: #FFFFFF;
    color: #757575;

}

.site-nav a {
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
    color: #2196F3;
}

.auth-nav a {
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth-nav a:hover,
.auth-nav a:focus {
    color:#2196F3
}

.list .accent-color {
    color: #757575;
}

.project .title {
    color: #212121;
}

.hero .title {
    color: #212121;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
} 

.work .title {
    color: #212121;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.team .title {
    color: #212121;
    font-size: 36px;
    line-height: 1.16;
}

.list .title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.team .title-card {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;  
}

.title {
    color: #212121;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.par {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.p-card {
    color: #757575;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

.list .par-card {
    font-size: 16px;
    line-height: 1.18;
}

.button-filter {
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.button-filter button:hover, 
button:focus 
{
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer
}

.button-order {
    color:#FFFFFF;
    background-color: #2196F3;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    cursor: pointer
}


